@page "/counter"
@inject I18nText I18nText

<h1>@Text.Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">@Text.ClickMe</button>

@functions{
    Text Text = new Text();

    int currentCount = 0;

    protected override async Task OnInitAsync()
    {
        this.Text = await I18nText.GetTextTableAsync<Text>(this);
    }

    void IncrementCount()
    {
        currentCount++;
    }
}
