@page "/"
@using Lib4ProjRef
@using Lib4PackRef

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Lib4ProjRefComponent></Lib4ProjRefComponent>

<Lib4PackRefComponent></Lib4PackRefComponent>