@using Lib4PackRef.I18nText
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="my-component">
    @Text.Message
</div>

@code {

    Text Text = new Text();

    protected override async Task OnInitializedAsync()
    {
        const string cssPath = "_content/Lib4PackRef/styles.css";
        await JS.InvokeVoidAsync("eval", "new Promise(r=>((d,t,s)=>(h=>h.querySelector(t+`[href=\"${{s}}\"]`)?r():(e=>(e.href=s,e.rel='stylesheet',e.onload=r,h.appendChild(e)))(d.createElement(t)))(d.head))(document,'link','" + cssPath + "'))");
        this.Text = await I18nText.GetTextTableAsync<Text>(this);
    }
}
