<div class="alert alert-secondary mt-4 survay-prompt" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    @Text.SurveyPrompt.Format(SurveyUrl).AsMarkdownToHtml()

</div>

@inject Toolbelt.Blazor.I18nText.I18nText I18nText

@functions{

    Text Text = new Text();

    readonly string SurveyUrl = "https://go.microsoft.com/fwlink/?linkid=2041371";

    [Parameter]
    string Title { get; set; } // Demonstrates how a parent component can supply parameters

    protected override async Task OnInitAsync()
    {
        Text = await I18nText.GetTextTableAsync<Text>(this);
    }
}
