@page "/"
@namespace SampleSite.Server.Pages
@using SampleSite.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sample Site</title>
    <base href="~/" />
    <link href="_content/SampleSite.Components/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/SampleSite.Components/css/app.css" rel="stylesheet" />
    <link href="_content/SampleSite.Components/css/app-custom.css" rel="stylesheet" />
    <link href="SampleSite.Server.styles.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>

</html>
