@page "/counter"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<h1>@Text.Counter</h1>

<p>@Text.CurrentCount: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@Text.ClickMe</button>

@code {
    Text Text = new Text();

    int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        Text = await I18nText.GetTextTableAsync<Text>(this);
    }

    void IncrementCount()
    {
        currentCount++;
    }
}
