@page "/"
@inject I18nText I18nText

<h1>@Text.HelloWorld</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div>
    <span><button onclick="@(()=> SetLang("en"))">English</button></span>
    <span><button onclick="@(()=> SetLang("ja"))">日本語</button></span>
</div>

@functions{

    Text Text = new Text();

    override protected async Task OnInitAsync()
    {
        Text = await I18nText.GetTextTableAsync<Text>();
    }

    async Task SetLang(string langCode)
    {
        await I18nText.SetCurrentLanguageAsync(langCode);
    }
}