@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="alert alert-secondary mt-4 survay-prompt" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>
    <span>
        @Text.SurveyPrompt.Format(SurveyUrl).AsMarkdownToHtml()
    </span>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }

    private Text Text = new Text();

    readonly string SurveyUrl = "https://go.microsoft.com/fwlink/?linkid=2127014";

    protected override async Task OnInitializedAsync()
    {
        Text = await I18nText.GetTextTableAsync<Text>(this);
    }
}
